/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

/* common style or utilities */
body {
  font-family: "Poppins", sans-serif;
}

.brand-text {
  color: #3e3e3e;
  text-decoration: none;
}

.slider-text h1 {
  font-size: 48px;
  font-weight: 600;
}
.slider-text p {
  font-size: 16px;
  font-weight: 300;
}
.slider-text button {
  color: #3f87f5;
  font-weight: 700;
  padding: 10px 44px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 17px;
  margin-bottom: 100px;
}

/* album style  */
.text-album h1 {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
}
.text-album p {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
}
.text-album button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: #3f87f5;
  padding: 10px 24px;
}
